
.converter-title{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
}
.convert_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input{
    border-radius: 15px;
    height: 30px;
    width: 130px;
    text-align: center;
    appearance: none;
    border: none;
}
#inputType,#resultType{
    width: 50px;
    height: 20px;
    border-radius: 50px;
    border: none;
}
